@use "reset";
@use "global";

main {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    h1 {
      font-size: 32px;
      margin: 30px;
    }
    p {
      font-size: 26px;
      margin: 30px;
      line-height: 1.4;
    }
  }

  .push-container {
    h3 {
      font-size: 24px;
    }
    input {
      font-family: inherit;
    }

    button {
      font-family: inherit;
    }
  }
}
